<div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <ul class="page-sidebar-menu" data-auto-scroll="true" data-slide-speed="200">
        <li class="sidebar-toggler-wrapper">
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
            <div class="sidebar-toggler hidden-phone">
            </div>
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        </li>
        <li class="sidebar-search-wrapper">
            <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
            <form class="sidebar-search" action="extra_search.html" method="POST">
                <div class="form-container">
                    <div class="input-box">
                        <a href="javascript:;" class="remove">
                        </a>
                        <input type="text" placeholder="Search..."/>
                        <input type="button" class="submit" value=" "/>
                    </div>
                </div>
            </form>
            <!-- END RESPONSIVE QUICK SEARCH FORM -->
        </li>
        <li class="start ">
            <a href="index.html">
                <i class="fa fa-home"></i>
						<span class="title">
							Dashboard
						</span>
            </a>
        </li>
        <% for (var i = 0; i < links.length; i++) { %>
        <% var link = links[i]; %>
        <li>
            <a href="javascript:;">
                <i class="fa fa-shopping-cart"></i>
						<span class="title">
                            <%= links[i].displayName %>管理
						</span>
						<span class="arrow ">
						</span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="/index/manage?model=<%= linksName[i] %>&type=add">
                        <i class="fa fa-shopping-cart"></i>
                        新增<%= links[i].displayName %>
                    </a>
                </li>
                <li>
                    <a href="/index/manage?model=<%= linksName[i] %>&type=list">
                        <i class="fa fa-bullhorn"></i>
                        <%= links[i].displayName %>列表
                    </a>
                </li>
            </ul>
        </li>
        <% } %>
    </ul>
    <!-- END SIDEBAR MENU -->
</div>
